<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Programme Principal</title>
</head>
<body class="bg-gray-900 text-white flex items-center justify-center min-h-screen">

    <main class="bg-white text-gray-900 w-[90%] max-w-2xl rounded-2xl shadow-lg p-6 flex flex-col items-center">
        <div class="w-full text-center py-4 border-b border-gray-300">
            <h1 class="text-2xl font-bold">Bienvenue dans notre programme principal</h1>
        </div>
        
        <ul class="w-full mt-6 flex flex-col gap-4">
            <li>
                <a href="/isogramme" class="block bg-blue-500 hover:bg-blue-600 text-white text-center py-3 px-6 rounded-lg transition">Tester si un mot est un isogramme</a>
            </li>
            <li>
                <a href="/calculatrice" class="block bg-green-500 hover:bg-green-600 text-white text-center py-3 px-6 rounded-lg transition">Utiliser une calculatrice assez intelligente</a>
            </li>
            <li>
                <a href="/hamming" class="block bg-purple-500 hover:bg-purple-600 text-white text-center py-3 px-6 rounded-lg transition">Calculer la distance de Hamming entre deux ADN</a>
            </li>
            <li>
                <a href="/colorResistanceV1" class="block bg-yellow-500 hover:bg-yellow-600 text-white text-center py-3 px-6 rounded-lg transition">Resistances Color V1</a>
            </li>
            <li>
                <a href="/colorResistanceV2" class="block bg-red-500 hover:bg-red-600 text-white text-center py-3 px-6 rounded-lg transition">resistances Color V2</a>
            </li>
            <li>
                <a href="/blog" class="block bg-gray-700 hover:bg-gray-800 text-white text-center py-3 px-6 rounded-lg transition">Le blog</a>
            </li>
            <li>
                <a href="/index" class="block bg-yellow-500 hover:bg-yellow-600 text-white text-center py-3 px-6 rounded-lg transition">Gestion des comptes</a>
            </li>
        </ul>
    </main>
    
</body>
</html>
